<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<h1>Welcome! Here you can register your ID.</h1>
<body>
<form action="doregister" method="post" id="register_formId">
    <p>User: <input type="text" name="username" id="register_username" /></p>
    <p>P&ensp;W: <input type="password" name="password" id="register_password" /></p>
    <input type="button" value="register" onclick="document.getElementById('register_formId').submit()">
</form>
<a href="/chatroom/user/login">
    <button>have had a account?</button>
</a>
</body>
</html>